SECRET_KEY="l!h6g+v3&%@k=kz#z8=gh+y3a3g#y$82kl1s4x+zx^t5-$1vd3"
DB_NAME=iagscore
DB_USER=dj_user
DB_PASSWORD=dj_pass
DB_PORT=5432

#Variables para docker
DB_HOST=postgres_db
CELERY_BROKER_URL = 'redis://redis:6379/0'