{% extends "core/simply_base.html" %}
{% load i18n %}
{% block title %}
    Rubric - {{ rubric.name }}
{% endblock title %}
{% block content %}

{% include "core/partials/actions_buttom.html" with back_url="rubrics_page" %}

    <div class="rubric-style">
        {% include "core/partials/rubric_style.html" %}
        {{ rubric.get_html_content|safe }}
    </div>
    <group class=" p-5 justify-center inline-flex rounded-md shadow-xs">
    {% include "core/partials/actions_buttom.html" with back_url="rubrics_page" %}
    {% include "core/partials/delete_modal.html" with delete_url="delete_rubric" delete_id=rubric.id %}
    </group>
{% endblock content %}
