{% extends "core/base.html" %}
{% block title %}
    Correcciones
{% endblock title %}
{% block content %}
    <!-- Menu seleccion nueva o mostrar -->
    <div class="px-12 py-2 text-center font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        <button id="btn-view"
                onclick="showSection('view')"
                aria-current="true"
                class="block w-full px-4 py-2 rounded-b-lg cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-gray-200 focus:text-gray-800 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
            Ver Correcciones
        </button>
        <button id="btn-manage"
                onclick="showSection('new')"
                class="block w-full px-4 py-2 rounded-b-lg cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-gray-200 focus:text-gray-800 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
            Nueva Corrección
        </button>
        <!-- Apartado para mostrat mensajes -->
        {% if messages %}
            {% for message in messages %}<div class="{{ message.tags }}">{{ message }}</div>{% endfor %}
        {% endif %}
    </div>
    <!-- Opcion nueva Correcion -->
    <!-- Seccion para introducir campos en nueva correción -->
    <div name='importsection' id="new-import" class="hidden">
        <div class="mx-5 flex flex-row">
            <div class=" px-[30px] pt-5 basis-1/2 ">
                <form class="max-w-sm mx-auto mt-4" method="get" id="filter-form">
                    {% csrf_token %}
                    <label for="rubric_id"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Selecciona una opción
                    </label>
                    <select name="rubric_id"
                            id="rubric_id"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="">Selecciona una rúbrica</option>
                        {% for rubric in rubric_list %}
                            <option value="{{ rubric.id }}"
                                    {% if rubric.id == rubric_select.id %}selected{% endif %}>
                                {{ rubric.name }}
                            </option>
                        {% endfor %}
                    </select>
                    <label for="prompt_id"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Selecciona una opción
                    </label>
                    <select name="prompt_id"
                            id="prompt_id"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="">Selecciona un prompt</option>
                        {% for prompt in prompt_list %}
                            <option value="{{ prompt.id }}"
                                    {% if prompt_select.id == prompt.id %}selected{% endif %}>
                                {{ prompt.name }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
                <!-- Formulario par descripcion y guardar configuración -->
                <form class="max-w-sm mx-auto"
                      method="post"
                      id="save-form"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Campo para controlar el form enviado-->
                    <input type="hidden" name="action" value="save_correction">
                    <label for="{{ correct_form.zip_file.id_for_label }}"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Selecciona Fichero
                    </label>
                    {{ correct_form.zip_file }}
                    <label for="{{ correct_form.description.id_for_label }}"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripcion</label>
                    {{ correct_form.description }}
                    <label for="{{ correct_form.llm_model.id_for_label }}"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Modelo</label>
                    {{ correct_form.llm_model }}
                    <!-- Campos ocultos con valores de los selects -->
                    <input type="hidden"
                           name="rubric"
                           id="hidden_rubric_id"
                           value="{{ rubric_select.id }}">
                    <input type="hidden"
                           name="prompt"
                           id="hidden_prompt_id"
                           value="{{ prompt_select.id }}">
                    <button type="submit" class="btn-custom">Guardar configuracion</button>
                </form>
            </div>
            <!-- Visualización de Rubrica y Prompt seleccionados -->
            <div class="flex flex-col px-[30px] pt-5 basis-1/2">
                <div class="p-5 border border-gray-200">
                    <h3 class=" p-2 text-3xl font-bold dark:text-white">Rubrica Seleccionada</h3>
                    {% if rubric_select %}
                        {{ rubric_select.get_html_content|safe }}
                    {% else %}
                        Ninguna
                    {% endif %}
                </div>
                <div class="mt-2 p-5 border border-gray-200">
                    <h3 class=" p-2 text-3xl font-bold dark:text-white">Prompt Seleccionado</h3>
                    {% if prompt_select %}
                        {{ prompt_select.prompt }}
                    {% else %}
                        Ninguna
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Opcion mostrar Correciones realizadas -->
    <div name="importsection" id="view-import">
        <div class="mt-4 p-20 relative overflow-x-auto shadow-md sm:rounded-lg">
            <!-- Tabla de correcciones -->
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">Descripción de la correccción</th>
                        <th scope="col" class="px-6 py-3">Fecha de creación</th>
                        <th scope="col" class="px-6 py-3">Última ejecución</th>
                        <th scope="col" class="px-6 py-3">Visualización</th>
                        <th scope="col" class="px-6 py-3">Ejecución</th>
                        <th scope="col" class="px-6 py-3">Resultado última ejecución</th>
                    </tr>
                </thead>
                <tbody>
                    {% for correction in corrections %}
                        <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200">
                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ correction.description }}
                            </th>
                            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ correction.date | date:"d/m/Y H:i" }}
                            </td>
                            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                Nunca ejecutada
                            </td>
                            <td class="px-6 py-4">
                                <button onclick="showConfig('config', {{ correction.id }})"
                                   class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Mostrar configuracion</button>
                            </td>
                            <td class="px-6 py-4">
                                <a href="#"
                                   class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Ejecutar</a>
                            </td>
                            <td class="px-6 py-4">
                                <a href="#"
                                   class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Mostrar resultado</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Carga de las correciones y visualización de la seleccionada -->
        {% for correction in corrections %}
        <div name="config-section" id="config-import-{{ correction.id }}" class="mx-20 mt-4 hidden">
            <dl class="max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
                <div class="flex flex-col pb-3">
                    <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Corrección:</dt>
                    <dd class="text-lg font-semibold">{{ correction.description }}</dd>
                </div>
                <div class="flex flex-col pb-3">
                    <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Rubrica:</dt>
                    <dd class="text-lg font-semibold">{{ correction.rubric.name }}</dd>
                </div>
                <div class="flex flex-col py-3">
                    <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Prompt</dt>
                    <dd class="text-lg font-semibold">{{ correction.prompt.name }}</dd>
                </div>
                <div class="flex flex-col py-3">
                    <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Modelo</dt>
                    <dd class="text-lg font-semibold">{{ correction.llm_model }}</dd>
                </div>
            </dl>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
{% block scripts %}
    {% load static %}
    <script src="{% static 'js/scripts.js' %}"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('filter-form');
    const selects = form.querySelectorAll('select');

    selects.forEach(select => {
        select.addEventListener('change', function() {
            form.submit();
        });
    });
    document.getElementById('new-import').classList.remove('hidden')
    document.getElementById('view-import').classList.add('hidden')
});
    </script>
{% endblock scripts %}
