{% extends "corrections/correction_base.html" %}
{% load i18n %}
{% block content %}
    {{ block.super }}
    <!-- Opcion nueva Correcion -->
    <!-- Seccion para introducir campos en nueva correción -->
    <div class="mx-5 flex flex-row">
        <div class=" px-[30px] pt-5 basis-1/2 ">
            <form class="my-4 max-w-sm mx-auto mt-4" method="get" id="filter-form">
                <label for="prompt_id" class="block mt-2 text-sm font-medium text-gray-900">Prompt</label>
                <select name="prompt_id"
                        id="prompt_id"
                        onchange="this.form.submit()"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value="">{% trans "Selecciona un prompt" %}</option>
                    {% for prompt in prompt_list %}
                        <option value="{{ prompt.id }}"
                                {% if prompt_select.id == prompt.id %}selected{% endif %}>{{ prompt.name }}</option>
                    {% endfor %}
                </select>
                <label for="rubric_id" class="block mt-2 text-sm font-medium text-gray-900">{% trans "Rúbrica" %}</label>
                <select name="rubric_id"
                        id="rubric_id"
                        onchange="this.form.submit()"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value="">{% trans "Selecciona una rúbrica" %}</option>
                    {% for rubric in rubric_list %}
                        <option value="{{ rubric.id }}"
                                {% if rubric.id == rubric_select.id %}selected{% endif %}>{{ rubric.name }}</option>
                    {% endfor %}
                </select>
            </form>
            <!-- Formulario para descripcion y guardar configuración -->
            <form class="max-w-sm mx-auto"
                  method="post"
                  id="save-form"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Campo para controlar el form enviado-->
                <label for="{{ correct_form.zip_file.id_for_label }}"
                       class="block mt-2 text-sm font-medium text-gray-900">{% trans "Selecciona Fichero" %}</label>
                {{ correct_form.zip_file }}
                <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">{{ correct_form.zip_file.help_text }}</p>
                <label for="{{ correct_form.description.id_for_label }}"
                       class="block mt-2 text-sm font-medium text-gray-900">{% trans "Descripcion" %}</label>
                {{ correct_form.description }}
                <label for="{{ correct_form.llm_model.id_for_label }}"
                       class="block mt-2 text-sm font-medium text-gray-900">{% trans "Modelo" %}</label>
                <select name="llm_model"
                        id="{{ correct_form.llm_model.id_for_label }}"
                        class="block w-full p-2 text-sm border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    {% for model_name in model_names %}<option value="{{ model_name }}">{{ model_name }}</option>{% endfor %}
                </select>
                <h3 class="p-2 mt-2 text-2xl font-bold">{% trans "Configuración del modelo" %}</h3>
                <div class="grid grid-cols-3 gap-4">
                    <div class="col-span-1">
                        <label for="{{ correct_form.model_temp.id_for_label }}"
                               class="block mt-2 text-sm font-medium text-gray-900">{% trans "Temperatura" %}</label>
                        {{ correct_form.model_temp }}
                        <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">{{ correct_form.model_temp.help_text }}</p>
                    </div>
                    <div class="col-span-1">
                        <label for="{{ correct_form.model_top_p.id_for_label }}"
                               class="block mt-2 text-sm font-medium text-gray-900">Top P</label>
                        {{ correct_form.model_top_p }}
                        <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">{{ correct_form.model_top_p.help_text }}</p>
                    </div>
                    <div class="col-span-1">
                        <label for="{{ correct_form.model_top_k.id_for_label }}"
                               class="block mt-2 text-sm font-medium text-gray-900">Top K</label>
                            {{ correct_form.model_top_k }}
                        <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">{{ correct_form.model_top_k.help_text }}</p>
                    </div>
                    <div class="col-span-1">
                        <label for="{{ correct_form.model_context_length.id_for_label }}"
                               class="block mt-2 text-sm font-medium text-gray-900">{% trans "Ventana contexto" %}</label>
                            {{ correct_form.model_context_length }}
                    </div>
                    <div class="grid grid-cols-1 gap-4">
                        <div class="col-span-1">
                            <label for="{{ correct_form.output_format.id_for_label }}"
                                   class="block mt-2 text-sm font-medium text-gray-900">
                                {% trans "Formato salida" %}
                            </label>
                            {{ correct_form.output_format }}
                        </div>
                    </div>
                </div>
                <!-- Campos ocultos con valores de los selects -->
                <input type="hidden"
                       name="rubric"
                       id="hidden_rubric_id"
                       value="{{ rubric_select.id }}">
                <input type="hidden"
                       name="prompt"
                       id="hidden_prompt_id"
                       value="{{ prompt_select.id }}">
                <button type="submit" class="btn-custom">{% trans "Guardar configuracion" %}</button>
            </form>
        </div>
        <!-- Visualización de Rubrica y Prompt seleccionados -->
        <div class="flex flex-col px-[30px] pt-5 basis-1/2">
            <div class="mt-2 p-5 border border-gray-200">
                <h3 class=" p-2 text-3xl font-bold">{% trans "Prompt Seleccionado" %}</h3>
                {% if prompt_select %}
                    {{ prompt_select.prompt }}
                {% else %}
                    {% trans "Ninguna" %}
                {% endif %}
            </div>
            <div class="p-5 border border-gray-200">
                <h3 class=" p-2 text-3xl font-bold">{% trans "Rubrica Seleccionada" %}</h3>
                {% if rubric_select %}
                    <div class="rubric-style">
                        {% include "core/partials/rubric_style.html" %}
                        {{ rubric_select.get_html_content|safe }}
                    </div>
                {% else %}
                    {% trans "Ninguna" %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
