{% extends "corrections/correction_base.html" %}
{% load i18n %}
{% block content %}
    {{ block.super }}
    <!-- Opcion mostrar Correciones realizadas -->
     
    <section class="bg-gray-50 flex items-top">
        {% url 'show_new_correction' as new_correction_url %}
      {% include "core/partials/table_header.html" with button_text=_("Nueva corrección") use_link=True button_href=new_correction_url %}

        <!-- Tabla de correcciones -->

        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        <a href="?sort=description&dir={% if sort == 'description' and dir == 'asc' %}desc{% else %}asc{% endif %}{% if query %}&q={{ query }}{% endif %}">
                        {% trans "Descripción de la correccción" %}
                        {% if sort == 'description' %}
                            {% if dir == 'asc' %}
                              ▲
                            {% else %}
                              ▼
                            {% endif %}
                        {% endif %}
                        </a>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <a href="?sort=date&dir={% if sort == 'date' and dir == 'asc' %}desc{% else %}asc{% endif %}{% if query %}&q={{ query }}{% endif %}">
                        {% trans "Fecha de creación" %}
                        {% if sort == 'date' %}
                            {% if dir == 'asc' %}
                              ▲
                            {% else %}
                              ▼
                            {% endif %}
                        {% endif %}
                        </a>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <a href="?sort=last_ejecution_date&dir={% if sort == 'last_ejecution_date' and dir == 'asc' %}desc{% else %}asc{% endif %}{% if query %}&q={{ query }}{% endif %}">
                        {% trans "Última ejecución" %}
                        {% if sort == 'last_ejecution_date' %}
                            {% if dir == 'asc' %}
                              ▲
                            {% else %}
                              ▼
                            {% endif %}
                        {% endif %}
                        </a>
                    </th>
                    <th scope="col" class="px-6 py-3">{% trans "Visualización" %}</th>
                    <th scope="col" class="px-6 py-3">{% trans "Ejecución" %}</th>
                    <th scope="col" class="px-6 py-3">{% trans "Resultado última ejecución" %}</th>
                    <th scope="col" class="px-6 py-3">{% trans "Tiempo respuesta" %}</th>
                    <th scope="col" class="px-6 py-3">{% trans "Acción" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for correction in page_obj %}
                    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200">
                        <th scope="row"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ correction.description }}
                        </th>
                        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ correction.date | date:"d/m/Y H:i" }}
                        </td>
                        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {% if correction.last_ejecution_date %}
                                {{ correction.last_ejecution_date|date:"d/m/Y H:i" }}
                            {% else %}
                                {% trans "Nunca ejecutada" %}
                            {% endif %}
                        </td>
                        <td class="px-6 py-4">
                            <button onclick="showConfig('config', {{ correction.id }})"
                                    class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                {% trans "Mostrar configuracion" %}
                            </button>
                        </td>
                        <td class="px-6 py-4">
                            {% if correction.running %}
                                <span class="font-medium text-gray-400 cursor-wait">{% trans "Ejecutando..." %}</span>
                            {% else %}
                                <a href="{% url 'run_model' correction.id %}"
                                   class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{% trans "Ejecutar" %}</a>
                            {% endif %}
                        </td>
                        <td class="px-6 py-4">
                            {% if correction.last_ejecution_date %}
                                <a href="{% url 'download_response' correction.id %}"
                                   class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                    {% trans "Descargar último resultado" %}
                                </a>
                            {% else %}
                                <span class="font-medium text-gray-400 cursor-not-allowed" title="Nunca ejecuada" >{% trans "Descargar úlimo resultado" %}</span>
                            {% endif %}
                        </td>
                        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {% if correction.last_ejecution_date %}
                                {{ correction.time_last_ejecution }} s
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            {% if correction.running %}
                                <span class="inline-block mr-4">
                                    <a href="{% url 'correction_clone' correction.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                        {% trans "Clonar" %}
                                    </a>
                                </span>
                                <span class="font-medium text-gray-400 px-2 cursor-not-allowed">
                                    {% trans "Eliminar" %}
                                </span>
                            {% else %}
                                <span class="inline-block mr-4">
                                    <a href="{% url 'correction_clone' correction.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                        {% trans "Clonar" %}
                                    </a>
                                </span>
                                <button onclick="openDeleteModal({{ correction.id }},'corrections')"
                                        class="font-medium px-2 text-red-600 dark:text-red-500 hover:underline">
                                    {% trans "Eliminar" %}
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
               <!-- Paginación -->
        {% if page_obj %}
        {% include "core/partials/nav_tables.html" %}
        {% endif %}
    </div>
      </section>
      <!-- Carga de las correciones y visualización de la seleccionada -->
      {% for correction in corrections %}
          <div name="config-section"
               id="config-import-{{ correction.id }}"
               class="mx-20 mt-4 hidden">
               <dl class="max-w-md text-gray-900 divide-y divide-gray-200 dark:divide-gray-700">
                  <div class="flex flex-col pb-3">
                      <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">{% trans "Corrección:" %}</dt>
                      <dd class="text-lg font-semibold">
                          {{ correction.description }}
                      </dd>
                  </div>
                  <div class="flex flex-row">
                
                    <div class="flex flex-col pb-3">
                        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Prompt:</dt>
                        <details class="text-lg font-semibold cursor-pointer">
                        <summary class="text-blue-700 underline">{{ correction.prompt.name }}</summary>
                        <div class="mt-2">
                            {{ correction.prompt.prompt }}
                        </div>
                        </details>
                    </div>
                    
                    <div class="flex flex-col pb-3 px-5">
                        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">{% trans "Rubrica:" %}</dt>
                        <details class="text-lg font-semibold cursor-pointer">
                        <summary class="text-blue-700 underline">{{ correction.rubric.name }}</summary>
                        <div class="mt-2">
                                <div class="rubric-style">
                                {% include "core/partials/rubric_style.html" %}
                                {{ correction.rubric.get_html_content|safe }}
                                </div>
                        </div>
                        </details>
                    </div>

                  </div>
                  <div class="flex flex-row">
                  <div class="flex flex-col py-3">
                      <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">{% trans "Modelo" %}</dt>
                      <dd class="text-lg font-semibold">
                          {{ correction.llm_model }}
                      </dd>
                  </div>
                  
                <div class="flex flex-col py-3 px-5">
                    <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">{% trans "Temperatura:" %}</dt>
                    <dd class="text-lg font-semibold" >
                        {{ correction.model_temp }}
                    </dd>
                </div> 
                <div class="flex flex-col py-3 px-5">
                    <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400 whitespace-nowrap">Top-p:</dt>
                    <dd class="text-lg font-semibold">
                        {{ correction.model_top_p }}
                    </dd>
                </div> 
                <div class="flex flex-col py-3 px-5">
                    <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400 whitespace-nowrap">Top-k:</dt>
                    <dd class="text-lg font-semibold">
                        {{ correction.model_top_k }}
                    </dd>
                </div>
                <div class="flex flex-col py-3 px-5">
                    <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400 whitespace-nowrap">{% trans "Formato salida:" %}</dt>
                    <dd class="text-lg font-semibold">
                        {% if correction.output_format == '' %}
                            {% trans "Texto" %}
                        {% else %}
                            {{ correction.output_format }}
                        {% endif %}
                    </dd>   
                </div>
                </div>
              </dl>
          </div>
      {% endfor %}
    <!-- Modal -->
    {% include "core/partials/modal.html" with modal_text=_("Si eliminas esta corrección se eliminará la correción realizada y todas las tareas asociadas ¿Estás seguro?") %}
{% endblock content %}
