{% load i18n %}
<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
        <th scope="col" class="px-6 py-3">
            <a href="?sort=name&dir={% if sort == 'name' and dir == 'asc' %}desc{% else %}asc{% endif %}{% if query %}&q={{ query }}{% endif %}">
                {{ title_name }}
                {% if sort == 'name' %}
                    {% if dir == 'asc' %}
                        ▲
                    {% else %}
                        ▼
                    {% endif %}
                {% endif %}
            </a>
        </th>
        <th scope="col" class="px-6 py-3">
            <a href="?sort=creation_date&dir={% if sort == 'creation_date' and dir == 'asc' %}desc{% else %}asc{% endif %}{% if query %}&q={{ query }}{% endif %}">
                {% trans "Fecha de creación" %}
                {% if sort == 'creation_date' %}
                    {% if dir == 'asc' %}
                        ▲
                    {% else %}
                        ▼
                    {% endif %}
                {% endif %}
            </a>
        </th>
        <th scope="col" class="px-6 py-3"></th>
    </tr>
</thead>
