[run]
source = .
omit =
    */migrations/*
    */tailwind/*
    */node_modules/*
data_file = /app/coveragereport/.coverage
[report]
show_missing = true
[xml]
output = /app/coveragereport/coverage.xml
